# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
